.Editor .input{
    background: var(--editor-body);
    color: var(--primary-text);
    border-radius: 6px;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    min-height: 10em;
    max-height: 50vh;
    overflow-y: scroll;
    /* padding-bottom: 3em; */
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    scrollbar-width: none;
    cursor: text;
}

.Editor .input::-webkit-scrollbar{
    display: none;
}

/* [contenteditable=true]:empty:before { */
.input_blank::before {
    content: attr(aria-placeholder);
    position: absolute;
    color: var(--tertiary-text);
    display: block; /* For Firefox */
  }

.NewPost .input:focus-visible{
    outline: none;
}