@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
  --light-blue-trans: #EEF1FFD6;
  --accent-red-orange: #FF5151;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background: url(./images/Patterns.png),linear-gradient(180deg, #FFE9E9 0%, rgba(253, 242, 242, 0.54) 100%),
linear-gradient(0deg, #EEF1FF, #EEF1FF);
  background-position: center;
  background-repeat: repeat;
  padding-top: 5em;
  padding-bottom: 1em;
  min-height: 100vh;
}

.ClickToExit{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
